main {
	display: flex;
	flex-direction: row;
}
.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo h1{
    position: absolute;
    bottom: 0;
    
}
.logo img {
    margin: 0;
    padding: 0;
	width: 300px;
	height: 300px;
}

.ladoEsquerdo {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50vw;
	height: 100vh;
	background-color: black;
	color: white;
	border-radius: 0px 30px 30px 0px;
	
}
.ladoEsquerdo h1 {
	margin: 0;
	padding: 0;
	font-size: 50pt;
}

.oo {
    font-weight: bold;
	color: #a5e85d;
}
#boasVindasContainer {
	width: 500px;
}

#boasVindasText {
	font-size: 24px;
	white-space: pre-wrap;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}
#cursor {
	position: relative;
	bottom: 0.12em;
	font-weight: 300;
	font-size: 60px;
	animation: pisca 0.8s step-end infinite;
}
.ladoDireito{
    width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center; 
    justify-content: center;
	
}
.loginForm{
	display: flex;
	flex-direction: column;
	gap: 30px;
    
}
.inputsLogin{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	gap: 20px ;
}

.loginForm input {
    border-radius: 5px;
	width: 300px;
	height: 35px;

}
input::placeholder {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 300;
    color: #ccc;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
}

#login{
	background-color: black;
    color: white;
	

}

#cadastro{
	border-radius: 10px;
	background-color: #a5e85d;
	color: black;
    border: none;
	width: 100px;
	height: 35px;
	
}

.card {
    box-sizing: border-box;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;

    width: 30vw;
    height: 80vh;

    border-radius: 20px;

    box-shadow: 2px 2px 40px 3px rgb(0 0 0 / 20%);
}


@keyframes pisca {
	from,
	to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}