/* CSS for the given HTML code */
.menu {
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.412);
    backdrop-filter: blur(3px);
    z-index: 0;
}
.dropdown-menu {
    background-color: #ffffff;
    padding: 10px;
    left: 35em;
    top: 8em;
    display: flex;
    top: 8em;
    width: 40em;
    height: 30em;
    border-radius: 20px;
    z-index: 0;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-block;
    padding-left: 0px;
    margin-bottom: 0px;
    line-height: 70px;
}

.lista ul {
    list-style-type: none;
    box-sizing: border-box;
    margin: 1em;
    padding: 0em;
}

.lista ul li {
    display: flex;
}

.lista ul li a {
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: #ff0000;
    color: #ff0000;
}

.lista ul li a:hover {
    color: #ff0000;
}